/*****
	TODO
	
	* Add browser compabilities to each mixin
	* Add more mixins from other libs that I would use
	* Add button mixin, a port of Maykel Loomans button class for SASS (Lovely buttons)
	
*****/
/*****
	LAYOUT
*****/
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/*****
	FORM
*****/
/*****
	SHADOWS
*****/
/*****
	ROUNDED CORNERS
*****/
/*****
	GRADIENTS
*****/
/*****
	CSS3 TRANSFORMS
*****/
/****
	COLUMNS
*****/
/*****
	MASKS
*****/
/*****
	OPACITY
*****/
/*****
	IE HACKS
*****/
.header_ani_part {
  position: relative;
  display: inline-block;
}
/*****
	HTML5 CSS RESET
*****/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
* {
  outline: none;
}
.clear {
  clear: both;
}
/*****
	GENERAL
*****/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background: #222222 url("../../images/dark_bg.jpg");
  font-family: "proxima-nova", "Proxima Nova", Helvetica, sans-serif;
  color: #999;
  position: relative;
  padding-top: 7px;
}
body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  background: #5a87e2;
}
.wrapper {
  font-size: 16px;
  line-height: 25px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper.projects {
  max-width: none;
}
.overflow-hidden {
  overflow: hidden;
}
/*****
	HOME
*****/
.what_who {
  padding: 50px 20px 0px;
}
/*****
	FOOTER
*****/
.footer {
  background: rgba(0, 0, 0, 0.2);
  padding: 25px 0;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.6);
  clear: both;
}
.footer small {
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #999;
}
/*****
	IMPORTS
*****/
.texture {
  -webkit-mask-image: url('../../images/mask_darker.png');
  -o-mask-image: url('../../images/mask_darker.png');
  -moz-mask-image: url('../../images/mask_darker.png');
  mask-image: url('../../images/mask_darker.png');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #fff;
}
p,
li {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  padding: 0.25em 0;
}
h1 {
  font-size: 49px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
a:link,
a:visited {
  color: #5a87e2;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  /*color: darken(@brand, 20);*/

  color: #b1c6f1;
}
a:active {
  position: relative;
  top: 1px;
}
em,
i {
  font-style: italic;
}
b,
strong,
.bold,
.strong {
  font-weight: bold;
}
.text ul,
.hentry ul,
.text ol,
.hentry ol {
  padding-left: 30px;
  margin-bottom: 1em;
}
.text ul li,
.hentry ul li,
.text ol li,
.hentry ol li {
  list-style: outside;
  font-size: 14px;
  color: #444;
  line-height: 20px;
}
.text ol li,
.hentry ol li {
  list-style-type: decimal;
}
.text p,
.hentry p {
  margin-bottom: 1em;
}
.text p.small_stuff,
.hentry p.small_stuff {
  font-size: 11px;
  line-height: 13px;
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}
small,
.small {
  font-size: smaller;
}
p.right {
  text-align: right;
}
::selection {
  background: #5a87e2;
  color: #fff;
}
::-moz-selection {
  background: #5a87e2;
  color: #fff;
}
abbr[title] {
  border-color: #444;
}
/*****
	MOBILE FIXES
*****/
.touch {
  -webkit-text-size-adjust: none;
}
.touch abbr[title] {
  border-bottom: 0 !important;
}
a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
}
.brand,
.red {
  color: #5a87e2;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.grey {
  color: #777;
}
.grey:link,
.grey:visited {
  color: #777;
}
.grey:active,
.grey:focus,
.grey:hover {
  color: #2052b6;
}
.center {
  text-align: center;
}
.black_30 {
  background: rgba(0, 0, 0, 0.3);
}
.outline_111 {
  outline: 1px solid #111;
}
.border_vert_111 {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
.border_top_111 {
  border-top: 1px solid #111;
}
.border_bottom_111 {
  border-bottom: 1px solid #111;
}
.header {
  background: rgba(0, 0, 0, 0.3);
  border-top: 7px solid #5a87e2;
  padding: 30px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  zoom: 1;
}
.header:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.header .logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.header .logo:link,
.header .logo:visited {
  color: #999;
}
.header .logo:hover,
.header .logo:active,
.header .logo:focus {
  color: #5a87e2;
}
.header .logo {
  float: left;
  line-height: 40px;
}
.header .tagline {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  float: right;
}
.header .tagline span {
  color: #5a87e2;
}
.strapline {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.6);
}
.strapline h4 {
  text-align: center;
  line-height: 30px;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 300;
  color: #777;
}
.headline {
  margin: 50px auto;
  width: auto;
  position: relative;
}
.headline.large .part {
  font-size: 92px;
  font-size: 5.5vw;
  line-height: 1.2em;
  font-weight: 800;
}
.headline .part {
  color: #777;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
  display: block;
  -webkit-mask-image: url('../../images/mask.png');
  -o-mask-image: url('../../images/mask.png');
  -moz-mask-image: url('../../images/mask.png');
  mask-image: url('../../images/mask.png');
}
/*****
	Responsive Stuffs
*****/
@media (max-width: 700px) {
  .headline.normal {
    margin: 40px auto;
  }
  .headline.normal h2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .headline .part {
    font-size: 25px !important;
  }
  .strapline h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .strapline h4 br {
    display: none;
  }
}
.links {
  margin-top: 20px;
  margin-bottom: 20px;
}
.link_list_container {
  float: left;
  width: 400px;
}
.link_list {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #111;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
  margin: 20px;
  padding: 10px 20px 20px;
}
.link_list ul {
  padding-left: 20px;
}
.link_list ul li {
  list-style-position: outside;
}
