.header {
	background: rgba(0,0,0,0.3);
	border-top: 7px solid @brand;
	padding: 30px 0;
	.transition;
	.clearfix;
	.logo {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		&:link, &:visited {
			color: #999;
		}
		&:hover, &:active, &:focus {
			color: @brand;
		}
	}
	.logo {
		float: left;
		line-height: 40px;
	}
	.tagline {
		font-size: 16px;
		font-weight: bold;
		line-height: 40px;
		text-transform: uppercase;
		float: right;
		span {
			color: @brand;
		}
	}
}

.strapline {
	background: rgba(0,0,0,0.2);
	.box-shadow(0px 0px 15px 1px rgba(0,0,0,0.6));
	h4 {
		text-align: center;
		line-height: 30px;
		padding: 30px 0;
		font-size: 20px;
		font-weight: 300;
		color: #777;
	}
}

.headline {
	margin: 50px auto;
	width: auto;
	position: relative;
	&.large	{
		.part {
			font-size: 92px;
			font-size: 5.5vw;
			line-height: 1.2em;
			font-weight: 800;
		}
	}
	.part {
		color: #777;
		text-align: center;
		text-shadow: 1px 1px 1px #000;
		width: 100%;
		display: block;
		.mask("@{images}/mask.png");
	}
}