@import "_lesslib";
@brand: #5a87e2;
@images: '../../images';
.font() {
	font-family: "Proxima Nova", Helvetica, sans-serif;
}
.header_ani_part {
	position: relative;
	display: inline-block;
}

/*****
	HTML5 CSS RESET
*****/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body {line-height:1;}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block;}nav ul {list-style:none;}blockquote,q {quotes:none;}blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}ins {background-color:#ff9;color:#000;text-decoration:none;}mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del {text-decoration: line-through;}abbr[title],dfn[title] {border-bottom:1px dotted #000;cursor:help;}table {border-collapse:collapse;border-spacing:0;}hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select {vertical-align:middle;}* {outline: none;} .clear {clear: both;}


/*****
	GENERAL
*****/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: 16px;
	line-height: 1.5;
	background: #222 url("@{images}/dark_bg.jpg");
	.font;
	color: #999;
	position: relative;
	padding-top: 7px;
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 7px;
		background: @brand;
	}
}

.wrapper {
	font-size: 16px;
	line-height: 25px;
	padding: 0 20px;
	margin: 0 auto;
	&.projects {
		max-width: none;
	}
}
.overflow-hidden {
	overflow: hidden;
}


/*****
	HOME
*****/
.what_who {
	padding: 50px 20px 0px;
}


/*****
	FOOTER
*****/
.footer {
	background: rgba(0,0,0,0.2);
	padding: 25px 0;
	.box-shadow(0px 0px 15px 1px rgba(0,0,0,0.6));
	clear: both;
	small {
		line-height: 20px;
		font-size: 14px;
		font-weight: 300;
		color: #999;
	}
}


/*****
	IMPORTS
*****/
@import "_type";
@import "_helpers";
@import "_header";


/*****
	Responsive Stuffs
*****/
@media (max-width: 700px) {
	.headline.normal {
		margin: 40px auto;
		h2 {
			display: none;
		}
	}
}
@media (max-width: 600px) {
	.headline {
		.part {
			font-size: 25px !important;
		}
	}
	.strapline h4 {
		font-size: 18px;
		line-height: 24px;
		br {
			display: none;
		}
	}
}


.links {
	margin-top: 20px;
	margin-bottom: 20px;
}
.link_list_container {
	float: left;
	width: 400px;
}
.link_list {
	background: rgba(0,0,0,0.2);
	border: 1px solid #111;
	.box-shadow(0 0 15px 1px rgba(0,0,0,0.6));
	margin: 20px;
	padding: 10px 20px 20px;
	ul {
		padding-left: 20px;
		li {
			list-style-position: outside;
		}
	}
}
